backingfiles
discovery
test_farmcpu
test_farmcpu.desc
*.jdb
*.bloc
results1
results2
results2-noparallel
results3
results4
results5
results6
results6-save
results7
results8
results8-save
draft.bbl
draft.blg
draft.dvi
draft.log
draft.out
draft.pdf
draft.synctex.gz
draft.aux
draft.tex.bak
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
results.zip
